/*medium*/
body{
    font-size: 21px;
}
h1,h2,h3{
    text-align:center;
}
h1,h2,h3,h4{
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}
h1{
    color: rgba(0, 0, 0, 0.8);
    font-feature-settings: "liga";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1.11667px;
    line-height: 41.6px;
    margin-bottom: 0px;
    margin-left: -2.5px;
    margin-right: 0px;
    margin-top:0.5em;
    overflow-wrap: break-word;
    text-rendering: optimizelegibility;
    visibility: visible;
}
p,li,td,.content{
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-feature-settings: "liga";
    font-style: normal;
    font-weight: 400;
    line-height: 33.1833px;
}
p {
    clearleftcolor: rgba(0, 0, 0, 0.8);
    font-feature-settings: "liga";
    letter-spacing: -0.0666667px;
    margin:14px 0;
    overflow-wrap: break-word;
    text-rendering: optimizelegibility;
    visibility: visible;
}
body{
    display:block;
    margin:0 auto;
    max-width:calc(600px - 20px);
    padding:10px;
}
pre code{
    background:#f6f6f6;
    display:block;
    font-family:monospace;
    padding:0.5em;
    width:calc(100% - 1em);
}
blockquote p{
    background:#f6f6f6;
    border-left:1em #dcdcdc solid;
    font-style: italic;
    font-weight:bold;
    margin-left:-2em;
    padding:0.5em;
    width:calc(100% + 2em);
}
blockquote,small{
    color:gray;
}
a{
    color:blue;
}
a:hover{
    color:#333;
}
h1{
    font-size:2.5em;
    text-align:center;
}
hr{
    border:0;
    border-bottom:0.1em dotted black;
}
img{
    display:block;
    margin:0 auto;
    max-width:100%;
}
em,i,small{
    color:gray;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
