body{
    color:#222;
    display:block;
    font-family:"Times New Roman",serif;
    font-size:1.25em;
    font-weight:bold;
    line-height:1.75em;
    margin:0 auto;
    max-width:calc(800px - 20px);
    padding:10px;
}
a{
    color:navy;
}
a:hover{
    color:brown;
}
h1{
    font-size:2.5em;
    text-align:center;
}
h1,h2,h3,h4{
    color:navy;
}
hr{
    border:0;
    border-bottom:0.1em dotted navy;
}
img{
    display:block;
    margin:0 auto;
    max-width:100%;
}
li{
    margin-bottom:0.75em;
}
small{
    color:navy;
    font-size:0.75em;
}
